extends layout

block content
    div(class='all')
      div(class='app-content')

        div(class='grid-box')         
          div(class='temp-box')
            div(class="temp-button temp-kelv" data-onclick="convertTemp") K
            div(class="temp-button temp-celc temp-chosen" data-onclick="convertTemp") °C
            div(class="temp-button temp-fahr" data-onclick="convertTemp") F
          div(class='app-logo')
            p(class='logo-text') #[strong What's the weather]
          div(class='searchbar')
            label(for='city')
            input(type="text" required minlength='3' pattern='[A-Za-z]+' id='city' name='city' placeholder="Type a city name...")
            i(class='lookup icon-search' type='submit' value='submit' data-onclick="addCity")  
        div(class='main-container')

          section(class='weather-box no-clickable')
            a(class='clickable no-draggable' href='cities/1:cityname,:countrycode&units=:unit')
              div(class='weather-container')
                div(class='weather-colored')
                div(class='weather-nationality')
                  div(class='country-flag')
                    img(class='country-icon no-draggable' src="", alt="flag")
                  div(class='city-name')
                div(class="weather-current")
                  div(class='weather-description')
                  div(class='weather-details')
                    img(class='weather-icon no-draggable')
                    div(class='weather-temperature')

          section(class='weather-box no-clickable')
            a(class='clickable no-draggable' href='cities/1:cityname,:countrycode&units=:unit')
              div(class='weather-container')
                div(class='weather-colored')
                div(class='weather-nationality')
                  div(class='country-flag')
                    img(class='country-icon no-draggable' src="", alt="flag")
                  div(class='city-name')
                div(class="weather-current")
                  div(class='weather-description')
                  div(class='weather-details')
                    img(class='weather-icon no-draggable')
                    div(class='weather-temperature')

          section(class='weather-box no-clickable')
            a(class='clickable no-draggable' href='cities/1:cityname,:countrycode&units=:unit')
              div(class='weather-container')
                div(class='weather-colored')
                div(class='weather-nationality')
                  div(class='country-flag')
                    img(class='country-icon no-draggable' src="", alt="flag")
                  div(class='city-name')
                div(class="weather-current")
                  div(class='weather-description')
                  div(class='weather-details')
                    img(class='weather-icon no-draggable')
                    div(class='weather-temperature')

          section(class='weather-box no-clickable')
            a(class='clickable no-draggable' href='cities/1:cityname,:countrycode&units=:unit')  
              div(class='weather-container')
                div(class='weather-colored')
                div(class='weather-nationality')
                  div(class='country-flag')
                    img(class='country-icon no-draggable' src="", alt="flag")
                  div(class='city-name')
                div(class="weather-current")
                  div(class='weather-description')
                  div(class='weather-details')
                    img(class='weather-icon no-draggable')
                    div(class='weather-temperature')

          section(class='weather-box no-clickable')
            a(class='clickable no-draggable' href='cities/1:cityname,:countrycode&units=:unit')
              div(class='weather-container')
                div(class='weather-colored')
                div(class='weather-nationality')
                  div(class='country-flag')
                    img(class='country-icon no-draggable' src="", alt="flag")
                  div(class='city-name')
                div(class="weather-current")
                  div(class='weather-description')
                  div(class='weather-details')
                    img(class='weather-icon no-draggable')
                    div(class='weather-temperature')

          section(class='weather-box no-clickable')
            a(class='clickable no-draggable' href='cities/1:cityname,:countrycode&units=:unit')
              div(class='weather-container')
                div(class='weather-colored')
                div(class='weather-nationality')
                  div(class='country-flag')
                    img(class='country-icon no-draggable' src="", alt="flag")
                  div(class='city-name')
                div(class="weather-current")
                  div(class='weather-description')
                  div(class='weather-details')
                    img(class='weather-icon no-draggable')
                    div(class='weather-temperature')
          //- section(class='weather-box')
            a(class='clickable' href='cities/1:cityname')
              div(class='weather-container')
                div(class='city')
                img(class='icon')
                div(class='flex-temp')
                  div(class='temp')
                div(class='flex-weather')
                  div(class='weather')    
    div(class='notification-bar danger')
      p(class='title') 
        i(class='icon-attention') Warning
      div(class='text')

    form(name='search' method="GET" action="/" )

    script(defer src='../libraries/anime/lib/anime.min.js')
    script(defer src='../javascripts/addons.js')
    script(defer src='../javascripts/script.js')
