extends layout_detailed

block content
    div(class='all')

      section(class='weather-box--detailed')
        div(class='weather-container')

          div(class='city-info')
            div(class='weather-nationality')
              div(class='city-basics')
                img(class='country-icon no-draggable' src="", alt="flag")
                div(class='country-city')
              div(class='city-details')
                div(class='city-about') 
                  div(class='section-title--city')
                    p(class='title--city') ABOUT
                  div(class='section-content--city')
                    div(class='content-box--city first-content-box')
                      div(class='city-countrycode-def') Country:
                      div(class='city-countrycode')
                    div(class='content-box--city')
                      div(class='city-lat-def') Latitude: 
                      div(class='city-lat')
                    div(class='content-box--city')
                      div(class='city-lon-def') Longitude: 
                      div(class='city-lon')
                    div(class='content-box--city')
                      div(class='city-timezone-def') Timezone: 
                      div(class='city-timezone')
                div(class='city-today')
                  div(class='section-title--city')
                    p(class='title--city') TODAY
                  div(class='section-content--city')
                    div(class='content-box--city first-content-box')
                      div(class='city-date-def') Date: 
                      div(class='city-date')
                    div(class='content-box--city')
                      div(class='city-population-def') Population:
                      div(class='city-population')
                    div(class='content-box--city')
                      div(class='city-sunrise-def') Sunrise:
                      div(class='city-sunrise')
                    div(class='content-box--city')
                      div(class='city-sunset-def') Sunset: 
                      div(class='city-sunset')
            div(class='weather-colored')

      p(class='section-name') WEATHER TABLE

      section(class='weather-table--detailed')
        div(class='table-all')
          table(class='table')
            thead(class='table-legend')
              tr
                th(class='table-legend-item') 
                  div(class='legend-item-contentbox')
                    div(class="legend-item-titlebox")
                      span(class="legend-item-title" data-priority='main') Date
                      i(class="legend-item-btn icon-sort" data-action='sort' data-action_for='date' data-priority='main')
                th(class='table-legend-item') 
                  div(class='legend-item-contentbox')
                    div(class="legend-item-titlebox")
                      span(class="legend-item-title") Degrees
                      span(class="legend-item-unit legend-unit-temp")
                    div(class='legend-item-btnbox')
                      i(class="legend-item-btn icon-sort" data-action='sort' data-action_for='degrees')
                      i(class="legend-item-btn icon-chart-bar item-btn-targeted" data-action='graphdraw' data-action_for='degrees')
                th(class='table-legend-item') 
                  div(class='legend-item-contentbox')
                    div(class="legend-item-titlebox")
                      span(class="legend-item-title") Overcast
                      span(class="legend-item-unit")  [ % ]
                    div(class='legend-item-btnbox')
                      i(class="legend-item-btn icon-sort" data-action='sort' data-action_for='overcast')
                      i(class="legend-item-btn icon-chart-bar" data-action='graphdraw' data-action_for='overcast')
                th(class='table-legend-item') 
                  div(class='legend-item-contentbox')
                    div(class="legend-item-titlebox")
                      span(class="legend-item-title") Moisture
                      span(class="legend-item-unit")  [ % ]
                    div(class='legend-item-btnbox')
                      i(class="legend-item-btn icon-sort" data-action='sort' data-action_for='humidity')
                      i(class="legend-item-btn icon-chart-bar" data-action='graphdraw' data-action_for='humidity')
                th(class='table-legend-item') 
                  div(class='legend-item-contentbox')
                    div(class="legend-item-titlebox")
                      span(class="legend-item-title") Pressure
                      span(class="legend-item-unit")  [ hPa ]
                    div(class='legend-item-btnbox')
                      i(class="legend-item-btn icon-sort" data-action='sort' data-action_for='pressure')
                      i(class="legend-item-btn icon-chart-bar" data-action='graphdraw' data-action_for='pressure')
                th(class='table-legend-item') 
                  div(class='legend-item-contentbox')
                    div(class="legend-item-titlebox")
                      span(class="legend-item-title") Wind
                      span(class="legend-item-unit")  [ km/h ]
                    div(class='legend-item-btnbox')
                      i(class="legend-item-btn icon-sort" data-action='sort' data-action_for='wind')
                      i(class="legend-item-btn icon-chart-bar" data-action='graphdraw' data-action_for='wind')
            tbody(class='table-content')
              //-tr 
                td(class='table-data-item')
                td(class='table-data-item')
                td(class='table-data-item')
                td(class='table-data-item')
                td(class='table-data-item')
                td(class='table-data-item')

      p(class='section-name') WEATHER GRAPH

      section(class='weather-graph--detailed')
        div(class='graph-all')
          div(class='grid-container')
            //- DYNAMICALLY CREATED CONTENT INSIDE
            //-div(class='container-elem')
              div(class='date')
                p(class='date-text date-day')
                p(class='date-text date-hour')
              div(class='visual')
                div(class='visual-bar')
                img(class='graph-icon' alt='icon' src='')
              div(class='temperature-box')
                span(class='temper')
          div(class='grid-toggle-btn toggle-prev' data-action='toggle' data-action_for='prev')
            i(class='toggle-btn icon-left-open')
          div(class='grid-toggle-btn toggle-next' data-action='toggle' data-action_for='next')
            i(class='toggle-btn icon-right-open')


      //-p(class='detailed-title') Detailed weather info
      //-section(class='detailed-info')
        div(id='catch')
        div(class='legend-box')
            div(class='legend-1') Date
            div(class='legend-1') Weather
            div(class='legend-1') Temperature
            div(class='legend-1') Humidity
            div(class='legend-1') Wind speed & degree
            div(class='legend-1') Pressure

        div(id='catched')
        div(class='detail-box')

          //-div(class='nextdate')
          //-div(class='weather')
          //-img(class='weather-icon')
          //-div(class='temp-box')
          //-div(class='temp')
          //-div(class='temp-desc')
          //-div(class='humidity')
          //-div(class='wind')
          //-div(class='speed')
          //-div(class='degree')
          //-div(class='pressure')
      footer(class='footer') 
        div(class='footer-content')
          div(class='footer-section footer-about')
            p(class='footer-title') About the project
            div(class='about-box') 
              div(class='about-main')
                span Is it sunny today, or maybe windy? Check the weather forecast for your city and more than 500.000 others! You can also lookup for the current weather if necessary.
                img(class='author-logo' src='/images/logo_new.svg' alt='')
                p(class='author-copyright') What's The Weather  &copy; Martimex, 2023
          div(class='footer-section footer-resources')
            p(class='footer-title') Extra resources
            div(class='resources-box')
              a(href='https://github.com/Martimex' target='_blank') Documentation page
              a(href='https://github.com/Martimex' target='_blank') App changelog
              a(href='https://github.com/Martimex' target='_blank') Terms of use
              a(href='https://github.com/Martimex' target='_blank') Credits
          div(class='footer-section footer-socials') 
            p(class='footer-title') Follow me
            div(class='socials-box')
              div(class='social-icon')
                a(href='https://github.com/Martimex' target='_blank')
                  div(class='social-logo')
                    i(class='icon-logo icon-github')
                p(class='social-text') Github
              div(class='social-icon')
                a(href='https://www.theoryofcode.com' target='_blank')
                  div(class='social-logo')
                    i(class='icon-logo icon-code')
                p(class='social-text') Website 
              div(class='social-icon')
                div(class='social-logo')
                  i(class='icon-logo icon-linkedin')
                p(class='social-text') LinkedIn
              div(class='social-icon')
                a(href='https://codepen.io/Martimex' target='_blank')
                  div(class='social-logo')
                    i(class='icon-logo icon-codepen')
                p(class='social-text') CodePen
        div(class='mobile-temporary-content')

      div(id='query-hold' data-city={myCity} data-countrycode={myCountry} data-unit={myUnit})
        
      <script src='../libraries/anime/lib/anime.min.js'></script>
      <script src='../javascripts/addons.js'></script>
      <script src='../javascripts/script_detailed.js'></script>
    </body>
    </html>