extends layout

block content
    div(class='all')

      div(class='grid-box')
        div(class='searchbar')
          
          
          label(for='city') #[strong Your city:]
          input(type="text" id='city' name='city' placeholder="Type a city name...")
          i(class='lookup icon-search' type='submit' value='submit')              

        div(class='update-time') #[strong Updated:]
          p(class='date')
          p(class='time')

      div(class='main-container')

        section(class='weather-box')
          a(class='clickable' href='cities/:cityname/details')
            div(class='weather-container')
              div(class='city')
              img(class='icon')
              div(class='flex-temp')
                div(class='temp')
              div(class='flex-weather')
                div(class='weather')    

        section(class='weather-box')
          a(class='clickable' href='cities/:cityname/details')
            div(class='weather-container')
              div(class='city')
              img(class='icon')
              div(class='flex-temp')
                div(class='temp')
              div(class='flex-weather')
                div(class='weather')    

        section(class='weather-box')
          a(class='clickable' href='cities/:cityname/details')
            div(class='weather-container')
              div(class='city')
              img(class='icon')
              div(class='flex-temp')
                div(class='temp')
              div(class='flex-weather')
                div(class='weather')    

        section(class='weather-box')
          a(class='clickable' href='cities/:cityname/details')
            div(class='weather-container')
              div(class='city')
              img(class='icon')
              div(class='flex-temp')
                div(class='temp')
              div(class='flex-weather')
                div(class='weather')    

        section(class='weather-box')
          a(class='clickable' href='cities/:cityname/details')
            div(class='weather-container')
              div(class='city')
              img(class='icon')
              div(class='flex-temp')
                div(class='temp')
              div(class='flex-weather')
                div(class='weather')    

        section(class='weather-box')
          a(class='clickable' href='cities/:cityname/details')
            div(class='weather-container')
              div(class='city')
              img(class='icon')
              div(class='flex-temp')
                div(class='temp')
              div(class='flex-weather')
                div(class='weather')    

    div(class='notification-bar danger')
      p(class='title') 
        i(class='icon-attention') Warning
      div(class='text')

    form(name='search' method="GET" action="/" )

    script(src='/libraries/anime/lib/anime.min.js')
    script(src='/javascripts/addons.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/animations.js')
