doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport' content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style_landing.css')
    link(rel='stylesheet', href='/stylesheets/webfonts/css/fontello.css')
    link(rel='stylesheet', href='/stylesheets/word.css')
  body
    block content