doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style_detailed.css')
    link(rel='stylesheet', href='/stylesheets/word.css')
    link(rel='stylesheet', href='/stylesheets/webfonts/css/fontello.css')
  body
    block content