doctype html
html(lang='en')
  head
    title= title
    //-meta(name='viewport' content="width=device-width, initial-scale=1")
  body
    div(class='all')
      div(class='app-content')

        div(class='grid-box')         
          div(class='temp-box')
            div(class="temp-button temp-kelv" data-onclick="convertTemp") K
            div(class="temp-button temp-celc temp-chosen" data-onclick="convertTemp") °C
            div(class="temp-button temp-fahr" data-onclick="convertTemp") F
          div(class='app-logo')
            p(class='logo-text') #[strong What's the weather]